@model Dvelop.Remote.Controller.BusinessValue.ViewModel.BusinessValueView
@{
    Layout = "_Layout";
}
<div class="resource">
<main class="resource-content">
    <h2>@Model.Customer</h2>
    Value: @Model.TotalCustomerValue
</main>
</div>