@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model Dvelop.Remote.Controller.Root.ViewModel.RootView
@{
    Layout = "_Layout";
}

<header class="resource-header">
    <h1>My App</h1>
</header>

<main class="resource-content">
    <a href="/@Configuration["APP_NAME"]/vacationrequest/">Vacation Process</a>
    <h2>Version: @Model.Version</h2>
</main>

<footer class="resource-footer"></footer>