:root{
    --mdc-theme-primary:#fff;
    --mdc-theme-on-primary:#333;
}

.dmc-list-item {
    position: relative;
}

.dmc-list-item .mdc-list-item__meta {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%,-50%);
}

.dmc-list-item__graphic {
    margin-right: 16px;
}

[data-state="rejected"] .state-icon{
    color:red;
}

[data-state="accepted"] .state-icon {
    color:green;
}

[data-state="cancelled"] .mdc-list-item__text{
    text-decoration: line-through;
}


